<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <style>
        .card {
            width: 12rem;
            margin-bottom: 20px;
        }
        .card-img-top.rounded-circle {
            border-radius: 50%;
            object-fit: cover;
            width: 150px;
            height: 150px;
            margin: 15px auto;
        }
        .card-body {
            color: black;
        }
        @media (max-width: 576px) {
            .card-img-top.rounded-circle {
                width: 100px;
                height: 100px;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}">首頁</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            統計數據
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('stats') }}">月度統計</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('daily_stats') }}">每日統計</a></li>
                        </ul>
                    </li>
                    {% if not current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">登入</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">註冊</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('permissions') }}">權限</a>
                        </li>
                        {% if current_user.role.name == 'admin' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('change_group') }}">更改成員群組</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('show_users') }}">後台</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{{ url_for('logout') }}" class="nav-link">登出</a>
                        </li>
                        <li class="nav-item">
                            <span class="navbar-text">歡迎，{{ current_user.username }}！</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 col-md-4 col-lg-3 text-center">
                <a href="{{ url_for('nogizaka') }}" class="text-decoration-none">
                    <div class="card">
                        <img src="/static/data/avatar/乃木坂46.jpg" class="card-img-top rounded-circle" alt="Nogizaka46">
                        <div class="card-body">
                            <h5 class="card-title">乃木坂46</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 text-center">
                <a href="{{ url_for('hinatazaka') }}" class="text-decoration-none">
                    <div class="card">
                        <img src="/static/data/avatar/日向坂46.jpg" class="card-img-top rounded-circle" alt="Hinatazaka46">
                        <div class="card-body">
                            <h5 class="card-title">日向坂46</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 text-center">
                <a href="{{ url_for('sakurazaka') }}" class="text-decoration-none">
                    <div class="card">
                        <img src="/static/data/avatar/櫻坂46.jpg" class="card-img-top rounded-circle" alt="Sakurazaka46">
                        <div class="card-body">
                            <h5 class="card-title">櫻坂46</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>